.btn-dropdown {
    border: 0;
    height: 33px;
    width: 33px;
    border-radius: 15px;
    outline: 0;
    background-color: #ffffff;
    float: right;  
} 

.btn-dropdown:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

button.dropdown-item {
    text-decoration: none;
    color: #666;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.75rem;
    
}

.dropdown-menu  {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border: 1px solid #e4e4e4;
}
.btn-hsn-2 {
    right: 15px;
    bottom: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 0.85em;
    text-transform: uppercase;
    font-weight: 750;
    font-family: "unineue", "Open Sans", sans-serif;  
    color: #666; 
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 5px;
    white-space: normal;
}
.btn-hsn-2:hover {
    background-color: #fff;
    border-color: #666;
    transition: all .3s ease-out;
    cursor: pointer;
    box-shadow: none;
    color: #666;
    opacity: .5;
}


